@font-face {
    font-family: 'Nintendo U';
    src: url('NintendoU.woff2') format('woff2'),
        url('NintendoU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

